.home-page {
    background-color: rgb(246,248,213);
    height: 100vh;

}

.home {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;color: rgb(79,149,157);
    padding-top: 2rem;
    font-family: "Open Sans", sans-serif;


    
}

.home p {
    margin-bottom: 2rem;
    font-size: 16px;
    font-weight: 400;
}

.home h1 {
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 0.6rem;
    
}

.home p a {
    font-size: 16px;
    color: rgb(79,149,157);
    font-weight: 600;
}

input {
    width: 800px;
    max-width: 100%;
    height: 80px;
    padding-left: 2rem;
    font-size: 16px;
    font-weight: 600;

}

input::placeholder {
    text-transform: capitalize;
    font-weight: 600;
    padding-left: 1rem;
    font-size: 16px;
}

.output {
    padding-top: 2rem;
}

.footer {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    text-align: center;
    color: red;
    font-weight: 600;

}
.black {
    color: black;
}

.green {
    color: red;
}